.poker-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poker-table .table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 350px;
    background: rgb(45,176,101);
    background: radial-gradient(circle, rgba(45,176,101,1) 0%, rgba(0,123,53,1) 100%);
    border-style: solid;
    border-width: 30px;
    border-color: #7B3B00;
    border-radius: 200px;
}

.poker-table .table .line{
    width: 730px;
    height: 300px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.50);
    border-radius: 200px;
}