@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
  background: radial-gradient(50% 50% at 50% 50%, #242A38 0%, #1F2023 100%);
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
